@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.container{
    padding-top: 50px; 
    font-family: 'Poiret One', cursive;
}

#temperature, #weather {
    font-size: 20px;
}

#temperature {
    color: darkblue;
    cursor: pointer;
}